---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import Values from '../components/values.astro';
import Services from '../components/services.astro';
import Logos from '../components/logos.astro';
import Contact from '../components/contact.astro';
import Footer from '../components/footer.astro';
import Identity from '../components/identify.astro';
---
<Layout title="Hanval & Walker | Desarrollo Estratégico de Activos">
	<Navbar />
	<main class="mt-0 px-0 w-full flex flex-col gap-y-16">
		<Hero />
		<Identity />
		<Values />
		<Services />
		<Logos />
		<Contact />
	</main>
	<Footer />
</Layout>

<script>
	window.addEventListener('scroll', () => {
		const header = document.querySelector('header');
		if (header) {
			if (window.scrollY > 50) {
				header.classList.add('shadow-md');
			} else {
				header.classList.remove('shadow-md');
			}
		}
	});

	const buttons = document.querySelectorAll('button');
	buttons.forEach(btn => {
		btn.addEventListener('mousedown', () => btn.classList.add('scale-95'));
		btn.addEventListener('mouseup', () => btn.classList.remove('scale-95'));
		btn.addEventListener('mouseleave', () => btn.classList.remove('scale-95'));
	});
</script>
