<section class="py-section-gap px-margin-desktop max-w-container-max mx-auto border-t border-outline-variant border-opacity-20" id="identity">
<div class="grid grid-cols-1 md:grid-cols-12 gap-gutter">
<div class="md:col-span-4">
<h2 class="font-headline-md text-headline-md text-on-surface border-l-4 border-primary pl-6 py-2 uppercase tracking-tight">Nuestra Identidad</h2>
</div>
<div class="md:col-span-8 grid grid-cols-1 md:grid-cols-2 gap-gutter">
<div class="space-y-4">
<h3 class="font-headline-md text-headline-md text-on-surface font-bold">Misión</h3>
<p class="font-body-md text-body-md text-on-surface-variant leading-relaxed">
                            Proporcionar un liderazgo técnico inquebrantable a través de un meticuloso desarrollo de activos y una seguridad de datos sin concesiones. Operamos en la intersección de la ingeniería de élite y la gestión fiscal estratégica.
                        </p>
</div>
<div class="space-y-4">
<h3 class="font-headline-md text-headline-md text-on-surface font-bold">Visión</h3>
<p class="font-body-md text-body-md text-on-surface-variant leading-relaxed">
                            Establecer el estándar de oro global para la consultoría profesional donde la confidencialidad es primordial y la precisión técnica es el único resultado aceptable para nuestros socios institucionales.
                        </p>
</div>
</div>
</div>
</section>