<section class="py-12 bg-surface-container-low border-y-2 border-outline-variant px-margin-desktop">
	<div class="max-w-container-max mx-auto flex flex-wrap justify-center items-center gap-12 md:gap-24 opacity-60">
		<img src="/src/assets/GEBOWN LOGO.webp" alt="Logo Gebown" class="h-28 w-auto logo-hover-effect grayscale contrast-150" loading="lazy" />
		<img src="/src/assets/MAISTERRENA.png" alt="Logo Maisterrena" class="h-28 w-auto logo-hover-effect grayscale contrast-150" loading="lazy" />
		<img src="/src/assets/Osorio Campos.png" alt="Logo Osorio Campos" class="h-40 w-auto logo-hover-effect grayscale contrast-150" loading="lazy" />
		<img src="/src/assets/tdk.webp" alt="Logo TDK" class="h-45 w-auto logo-hover-effect grayscale contrast-150" loading="lazy" />
	</div>
</section>