<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/src/assets/hyw.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hanval & Walker </title>
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700;800&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body class="font-sans bg-surface text-accent min-h-screen">
		<slot />
	</body>
</html>
